name: Flutter CI

on:
  push:
    branches:
      - main

jobs:
  flutter_test:
    name: Run Flutter Test and Analyze
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-java@v1
        with:
          java-version: "18.x"
      - uses: subosito/flutter-action@v2
        with:
          flutter-version: "3.27.3" # Updated to match your project version
          channel: "stable"
      - run: flutter pub get
      - run: flutter analyze
      - run: flutter test

  build_apk:
    name: Generate APK Files
    needs: [flutter_test]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-java@v1
        with:
          java-version: "17.x"
      - uses: subosito/flutter-action@v2
        with:
          flutter-version: "3.27.3" # Updated to match your project version
          channel: "stable"
      - run: flutter pub get
      - run: flutter build apk --split-per-abi --release
      - uses: actions/upload-artifact@v3
        with:
          name: apk-release
          path: |
            build/app/outputs/apk/release/app-armeabi-v7a-release.apk
            build/app/outputs/apk/release/app-arm64-v8a-release.apk
            build/app/outputs/apk/release/app-x86_64-release.apk

  build_appbundle:
    name: Generate AppBundle Files
    needs: [flutter_test]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-java@v1
        with:
          java-version: "17.x"
      - uses: subosito/flutter-action@v2
        with:
          flutter-version: "3.27.3" # Updated to match your project version
          channel: "stable"
      - run: flutter pub get
      - run: flutter build appbundle
      - uses: actions/upload-artifact@v3
        with:
          name: appbundle-release
          path: build/app/outputs/bundle/release/app-release.aab

  build_web:
    name: Build Flutter Web
    needs: [flutter_test]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-java@v1
        with:
          java-version: "18.x"
      - uses: subosito/flutter-action@v2
        with:
          flutter-version: "3.27.3" # Updated to match your project version
          channel: "stable"
      - run: flutter pub get
      - run: flutter config --enable-web
      - run: flutter build web
      - uses: actions/upload-artifact@v3
        with:
          name: web-build
          path: build/web
